.email {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 10px;
  background: #fff;
  width: 33%;
  text-align: left;
}

.emailItem {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.emailItem:hover {
    background: #EEE;
}
.emailItem.emailInvalid:hover {
    background: #FAA;
}

.emailItem button {
  position: relative;
  float: right;
  visibility: hidden;
  margin-left: 5px;
}

.emailItem:hover button {
  visibility: visible;
}

.emailInvalid {
  background: #FCC;
}

.email input {
  border: 0px solid transparent;
}

.email .placeholder {
  color: #BBB;
}
